body{
    background: #050505;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    padding-top:100px;
    position: relative;
}

#mainNav{
    font-size: 2rem;
}

.navbar-brand img{
    width: 60%;
    height: auto;
}

.nav-link{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

#signaturebysb-text h2{
    font-size: 3.8rem;
}

#signaturebysb-text span{
    color: yellow;
}

@media (max-width:1500px){
    #signaturebysb-text h2{
        font-size: 2rem;
    }
}

.dj-icon{
    width: 10%;
    padding-bottom: 15px;
}

#blurb-text span{
    color: red;
}

#blurb-text h1{
    font-size: 3rem;
}

.slice{

    padding-bottom: 30px;
}

p{
    font-size: 1.7rem;
}

.navbar.scrolled{
    background:rgb(12, 12, 12);
    transition: 250ms;
}

@media (max-width: 768px) {
    nav.navbar {
        background: black;
    }
  }