body{
    background: #050505;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    padding-top:100px;
}

#mainNav{
    font-size: 2rem;
    text-transform: uppercase;
    padding-top: 15px;

}

.navbar-brand img{
    width: 60%;
    height: auto;
}

.nav-link{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

#sb-design span{
    color: yellow;
}

.dj-icon{
    width: 10%;
    padding-top: 10px;
    padding-bottom: 20px;
}

span{
    color: red;
}

.navbar.scrolled{
    background:black;
    transition: 500ms;
}

  footer{
      color: white;
  }
  
  footer span{
      color: rgb(51,102,187)
  }



  @media only screen and (max-width: 1200px) {

    #mainNav{
        background-color: #050505;
    }
    h2{
        font-size: 2.5rem;
    }
    p{
        font-size: 1rem;
    }
        
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    h2{
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
    }

} 

@media only screen and (min-width: 600px) {

    h2{
        font-size: 1.5rem;
    }
    p{
        font-size: 1.1rem;
    }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    h2{
        font-size: 2rem;
    }
    p{
        font-size: 1.2rem;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h2{
        font-size: 2.5rem;
    }
    p{
        font-size: 1.3rem;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h2{
        font-size: 3rem;
    }
    p{
        font-size: 1.4rem;
    }
}

